* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Helvetica Neue",
    Arial, sans-serif;
  font-size: 10px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  position: relative;
  max-width: 34.3rem;
  margin: 0 auto;
  background: #ffffff;
}

p,
span,
a {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.25;
  color: #576071;
}

label,
span {
  color: #576071;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6.0rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: #ffffff;
}

.logo-img {
  width: 4.0rem;
  height: 4.0rem;
  margin: 0 1.6rem;
}

header>p {
  font-size: 1.8rem;
}

main {
  margin: 9.2rem 0 8.0rem;
}

.item {
  margin-top: 3.2rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #dddfe2;
}

.question {
  font-size: 1.8rem;
}

.select_area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.2rem;
}

.custom-radio {
  display: inline-block;
  margin-right: 16px;
  border-radius: 50%;
  border: 2px solid #b5b5b5;
  background-color: #ffffff;
  box-sizing: border-box;
}

.last-radio {
  margin-right: 0;
}

.green-radio {
  border: 2px solid #4CAF50;
}

.purple-radio {
  border: 2px solid #88619A;
}

.hidden-radio:checked+.custom-radio {
  background-color: #b5b5b5;
}

.hidden-radio:checked+.green-radio {
  background-color: #4CAF50;
}

.hidden-radio:checked+.purple-radio {
  background-color: #88619A;
}

.size45 {
  width: 4.5rem;
  height: 4.5rem;
}

.size35 {
  width: 3.5rem;
  height: 3.5rem;
}

.size30 {
  width: 3.0rem;
  height: 3.0rem;
}

.size25 {
  width: 2.5rem;
  height: 2.5rem;
}

.caption_area {
  display: flex;
  margin: 1.6rem 0;
}

.caption_area>.caption:not(:last-child) {
  margin-right: 1.6rem;
}

.caption {
  width: 16.4rem;
}

.radio-buttons {
  display: flex;
  justify-content: space-between;
}

.hidden-radio {
  display: none;
}

.submit_area {
  display: flex;
  justify-content: center;
  margin: 1.6rem 0 0;
  padding: 1.6rem 0 8.0rem;
  border-bottom: 1px solid #dddfe2;
}

.submit-btn {
  width: 30.0rem;
  height: 6.0rem;
  padding: 1.2rem 2.4rem;
  border-radius: 3.0rem;
  border: none;
  background-color: #88619A;
}

.submit-btn>span {
  font-weight: 600;
  font-size: 1.8rem;
  color: #ffffff;
}

/* result.html */

.type_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.2rem;
}

.type_area>p {
  line-height: 1.0;
}

.result-title {
  font-weight: 400;
  font-size: 1.8rem;
  color: #576071;
}

.result-type {
  margin-top: 2.4rem;
  font-size: 2.4rem;
}

.result-16type {
  margin-top: 1.6rem;
  font-size: 1.8rem;
}

.result-img {
  width: 20.0rem;
  margin-top: 1.6rem;
}

.trait_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.2rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #dddfe2;
}

.trait_item>p {
  font-size: 1.8rem;
  color: #576071;
}

.trait-detail {
  display: flex;
  margin-top: 1.6rem;
}

.trait-text>p {
  line-height: 1.0;
}

.bar {
  position: relative;
  width: 24.5rem;
  height: 1.0rem;
  margin: 0 1.6rem;
  background-color: #F5F5F5;
  border-radius: 0.5rem;
}

.bar-left {
  position: absolute;
  left: 0;
  width: calc(24.5rem * 0.43);
  background-color: #4CAF50;
  height: 1.0rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.bar-right {
  position: absolute;
  right: 0;
  width: calc(24.5rem * 0.57);
  background-color: #88619A;
  height: 1.0rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.trait-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.8rem;
  font-size: 1.4rem;
}